@media screen and (max-width: 1170px) {
    .header {
        width: 98%;
    }
}

@media screen and (max-width: 991px) {
    .input-note-text {
        width: 450px;
    }
}

@media screen and (max-width: 930px) {
    .input-note-text {
        width: 400px;
    }
}

@media screen and (max-width: 880px) {
    .input-note-text {
        width: 353px;
        font-size: 19px;
    }

    .create-note-btn-container {
        margin: 0 20px;
        width: 107px;
    }
    #create-note-btn {
        padding: 0 0 0 8px;
    }
    .create-note-icon {
        right: 8px;
    }

    #logout-btn {
        width: 107px;
        padding-left: 8px;
    }
    .logout-icon {
        right: 6px;
    }

    .notes-list-container {
        width: 611px;
    }
    .note-text-container {
        font-size: 19px;
        line-height: 21px;
    }
}

@media screen and (max-width: 656px) {
    .header {
        height: 50px;
        margin-top: 5px;
    }
    .input-note-text {
        height: 30px;
        font-size: 15px;
    }
    .create-note-btn-container,
    #logout-btn {
        height: 30px;
        width: 30px;
    }
    #logout-btn,
    #create-note-btn {
        font-size: 0px;
        padding: 0;
    }
    .create-note-icon,
    .logout-icon {
        right: 5px;
        top: 5px;
    }
    .logout-icon {
        width: 23px;
        height: 20px;
    }
    .notes-list-container {
        margin-top: 15px;
        width: 90%;
    }
    .note-text-container {
        font-size: 15px;
    }
    .remove-note-icon {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 500px) {
    .input-note-text {
        width: 300px;
    }
    .create-note-btn-container {
        margin-left: 10px;
        margin-right: 15px;
    }
    .note-container {
        padding: 5px 5px 5px 5px;
    }
}

@media screen and (max-width: 424px) {
    .input-note-text {
        width: 255px;
    }
}

@media screen and (max-width: 374px) {
    .input-note-text {
        width: 195px;
    }
}
